{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}
{% block contenido %}

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Velartt Design ©</h1>
        <p class="lead">En Velartt Design© creemos que es posible desafiar el Statu Quo, y vencer los paradigmas de la cotidianidad. Por tal razón siempre estamos en búsqueda de lo óptimo, de encontrar la mejor solución posible a un requerimiento especifico a través de los diseños de más alta calidad y con tecnología a la vanguardia. 
        </p>
        <hr class="my-2">
 
        <p class="lead">
        </p>
    </div>
</div>

{% endblock %}