{% extends "base.html" %}

{% block titulo %} Lista de Productos {% endblock %}
{% block contenido %} 
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar Productos</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Productos</h4>
        
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% for producto in productos %}          
            <tr>
                <td>{{ producto.id}}</td>
                <td>{{ producto.nombre}}</td>
                <td>{{ producto.descripcion}}</td>
                <td>{{ producto.serial}}</td>
                <td>{{ producto.valor}}</td>
                <td>{{ producto.fecha}}</td>
                <td>{{ producto.estado}}</td>
                <td>
                    <a name="" id="" class="btn btn-info" href="{% url 'editar' producto.id %}" role="button">Editar</a>
                    <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' producto.id %}" role="button">Eliminar</a>

                </td>
            </tr>
 
            {% endfor %}
        </tbody>
    </table>
 

    </div>
    <div class="card-footer text-muted">
        Velartt Design©
    </div>
</div>

{% endblock %}
